@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic&display=swap);





body {
  font-family: Open Sans;
}
.display-1 {
  font-family: 'Merriweather', serif;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.8rem;
}
.display-2 {
  font-family: 'Merriweather', serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.6rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Merriweather', serif;
  font-size: 1.125rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #0087ab !important;
}
.bg-success {
  background-color: #344cf1 !important;
}
.bg-info {
  background-color: #48d678 !important;
}
.bg-warning {
  background-color: #d63d3d !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #0087ab !important;
  border-color: #0087ab !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #004b5e !important;
  border-color: #004b5e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #004b5e !important;
  border-color: #004b5e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #000101 !important;
  border-color: #000101 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000101 !important;
  border-color: #000101 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #48d678 !important;
  border-color: #48d678 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #344cf1 !important;
  border-color: #344cf1 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #0e26cb !important;
  border-color: #0e26cb !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0e26cb !important;
  border-color: #0e26cb !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #003645;
  color: #003645;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #0087ab;
  border-color: #0087ab;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0087ab !important;
  border-color: #0087ab !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #0a1c44;
  border-color: #0a1c44;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #229649;
  color: #229649;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #48d678;
  border-color: #48d678;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #48d678 !important;
  border-color: #48d678 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #0c21b3;
  color: #0c21b3;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #344cf1;
  border-color: #344cf1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #344cf1 !important;
  border-color: #344cf1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8f1e1e;
  color: #8f1e1e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #d63d3d;
  border-color: #d63d3d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0087ab !important;
}
.text-secondary {
  color: #0a1c44 !important;
}
.text-success {
  color: #344cf1 !important;
}
.text-info {
  color: #48d678 !important;
}
.text-warning {
  color: #d63d3d !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #003645 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0c21b3 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #229649 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8f1e1e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #48d678;
}
.alert-warning {
  background-color: #d63d3d;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0087ab;
  border-color: #0087ab;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0087ab;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2bd2ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f3f4fe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae5e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #0087ab;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #0087ab !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0087ab;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0087ab;
  border-bottom-color: #0087ab;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0087ab !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #0a1c44 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230087ab' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rzHblRSFlI {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #0a1c44;
}
.cid-rzHblRSFlI .container-fluid {
  padding: 0;
}
.cid-rzHblRSFlI img {
  width: 100%;
}
.cid-rzHblRSFlI .content {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (max-width: 1400px) {
  .cid-rzHblRSFlI .content {
    padding: 3rem;
  }
}
.cid-rzHblRSFlI .row {
  margin-right: 0;
  margin-left: 0;
}
.cid-rzHblRSFlI .img-col {
  padding: 0;
  margin: auto;
}
.cid-rzHbpLStBH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rzHbpLStBH .card {
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzHbpLStBH .card-box {
  width: 100%;
}
.cid-rzHbpLStBH .card-img {
  padding: 1rem;
  border: 2px solid #e9e9e9;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.cid-rzHbpLStBH .card-img span {
  color: #0a1c44;
  font-size: 3rem;
}
.cid-rzHbpLStBH .mbr-text {
  color: #656565;
}
.cid-rzHbpLStBH p {
  margin: 0;
}
@media (max-width: 576px) {
  .cid-rzHbpLStBH .card {
    margin-bottom: 2rem;
  }
}
.cid-rzHbpLStBH .card-title,
.cid-rzHbpLStBH .card-img {
  color: #0087ab;
  text-align: center;
}
.cid-rzHbpLStBH .mbr-section-title {
  text-align: center;
}
.cid-rzHbpLStBH .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rzHbpLStBH .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbpLStBH .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-rzHbpLStBH .line-wrap2 {
  display: inline-block;
  width: 100%;
}
.cid-rzHbpLStBH .line2 {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #e9e9e9;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cid-rzHbpLStBH .mbr-section-title,
.cid-rzHbpLStBH .line-wrap {
  text-align: center;
}
.cid-rzHbpLStBH .mbr-text,
.cid-rzHbpLStBH .line-wrap2 {
  text-align: center;
  color: #000000;
}
.cid-rzHbmdsnLL .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-rzHbmdsnLL .navbar-fixed-top {
  padding-top: 0;
}
.cid-rzHbmdsnLL .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rzHbmdsnLL .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzHbmdsnLL .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-rzHbmdsnLL .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rzHbmdsnLL .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rzHbmdsnLL .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rzHbmdsnLL .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rzHbmdsnLL .menu-content-top {
  background: #0a1c44;
  max-width: 100%;
  display: none;
  -webkit-justify-content: left;
  justify-content: left;
  padding: 0 2rem;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-rzHbmdsnLL .dropdown-item {
  padding: 0;
}
.cid-rzHbmdsnLL .dropdown-item,
.cid-rzHbmdsnLL .nav-link,
.cid-rzHbmdsnLL .brand-name {
  font-style: normal;
}
.cid-rzHbmdsnLL .dropdown-item:hover,
.cid-rzHbmdsnLL .nav-link:hover,
.cid-rzHbmdsnLL .brand-name:hover {
  color: #0087ab !important;
}
.cid-rzHbmdsnLL .dropdown-menu {
  background-color: #0a1c44;
}
.cid-rzHbmdsnLL .dropdown-item:active {
  background-color: #0a1c44;
}
.cid-rzHbmdsnLL .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  padding: 0rem 2rem;
  position: relative;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rzHbmdsnLL .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rzHbmdsnLL .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-rzHbmdsnLL .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem !important;
}
.cid-rzHbmdsnLL .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzHbmdsnLL .content-text {
  margin-bottom: 0;
}
.cid-rzHbmdsnLL .navbar-nav {
  position: relative;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rzHbmdsnLL .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #0087ab;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rzHbmdsnLL .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-rzHbmdsnLL .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-rzHbmdsnLL .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-rzHbmdsnLL .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rzHbmdsnLL .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rzHbmdsnLL .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rzHbmdsnLL .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzHbmdsnLL .nav-dropdown .link {
  font-weight: 400;
}
.cid-rzHbmdsnLL .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rzHbmdsnLL .content-right-side {
  text-align: center;
}
.cid-rzHbmdsnLL .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-rzHbmdsnLL .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-rzHbmdsnLL .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-rzHbmdsnLL .info-widget {
  padding-left: 2rem;
  padding-right: 3rem;
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzHbmdsnLL .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzHbmdsnLL .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-rzHbmdsnLL .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-rzHbmdsnLL .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-rzHbmdsnLL .widget-content .widget-title {
  font-weight: 400;
  margin-bottom: 3px;
}
.cid-rzHbmdsnLL .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-rzHbmdsnLL .navbar .menu-content-top {
    display: flex;
    height: 60px;
  }
  .cid-rzHbmdsnLL .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rzHbmdsnLL .menu-content-top {
    border-bottom: 0px solid #e0e0e0;
  }
  .cid-rzHbmdsnLL .navbar {
    display: block;
    padding: 0;
  }
  .cid-rzHbmdsnLL .navbar .menu-logo {
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rzHbmdsnLL .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-rzHbmdsnLL .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-rzHbmdsnLL .navbar-toggler {
    display: none;
  }
  .cid-rzHbmdsnLL .navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.cid-rzHbmdsnLL .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-rzHbmdsnLL .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rzHbmdsnLL .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rzHbmdsnLL .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-rzHbmdsnLL .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rzHbmdsnLL .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzHbmdsnLL .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rzHbmdsnLL .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rzHbmdsnLL .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzHbmdsnLL .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rzHbmdsnLL .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-rzHbmdsnLL .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rzHbmdsnLL .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rzHbmdsnLL .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rzHbmdsnLL .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rzHbmdsnLL button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
}
.cid-rzHbmdsnLL button.navbar-toggler:focus {
  outline: none;
}
.cid-rzHbmdsnLL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0a1c44;
}
.cid-rzHbmdsnLL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-rzHbmdsnLL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rzHbmdsnLL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rzHbmdsnLL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-rzHbmdsnLL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rzHbmdsnLL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-rzHbmdsnLL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-rzHbmdsnLL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rzHbmdsnLL .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rzHbmdsnLL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rzHbmdsnLL .collapsed .btn {
  display: flex;
}
.cid-rzHbmdsnLL .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rzHbmdsnLL .collapsed .navbar-collapse.collapsing,
.cid-rzHbmdsnLL .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rzHbmdsnLL .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rzHbmdsnLL .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rzHbmdsnLL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rzHbmdsnLL .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rzHbmdsnLL .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rzHbmdsnLL .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-rzHbmdsnLL .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rzHbmdsnLL .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rzHbmdsnLL .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rzHbmdsnLL .collapsed button.navbar-toggler {
  display: block;
}
.cid-rzHbmdsnLL .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-rzHbmdsnLL .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rzHbmdsnLL .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-rzHbmdsnLL .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rzHbmdsnLL .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rzHbmdsnLL .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-rzHbmdsnLL .collapsed .menu-bottom {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 991px) {
  .cid-rzHbmdsnLL .dropdown-item {
    color: white !important;
    border-bottom: 0px solid #4f5b77;
  }
  .cid-rzHbmdsnLL .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #4f5b77;
  }
}
@media (max-width: 991px) {
  .cid-rzHbmdsnLL .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
  }
  .cid-rzHbmdsnLL .menu-bottom {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cid-rzHbmdsnLL .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rzHbmdsnLL .navbar-collapse.collapsing,
  .cid-rzHbmdsnLL .navbar-collapse.show {
    display: block !important;
  }
  .cid-rzHbmdsnLL .navbar-collapse.collapsing .navbar-nav,
  .cid-rzHbmdsnLL .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rzHbmdsnLL .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rzHbmdsnLL .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rzHbmdsnLL .navbar-collapse.collapsing .navbar-buttons,
  .cid-rzHbmdsnLL .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-rzHbmdsnLL .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rzHbmdsnLL .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rzHbmdsnLL img {
    height: 3.8rem !important;
  }
  .cid-rzHbmdsnLL .btn {
    display: flex;
  }
  .cid-rzHbmdsnLL button.navbar-toggler {
    display: block;
  }
  .cid-rzHbmdsnLL .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-rzHbmdsnLL .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rzHbmdsnLL .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-rzHbmdsnLL .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rzHbmdsnLL .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rzHbmdsnLL .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-rzHbmdsnLL .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-rzHbmdsnLL .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-rzHbmdsnLL .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rzHbmdsnLL .nav-link:focus {
  outline: none;
}
.cid-rzHbmdsnLL .navbar-toggler {
  position: relative;
}
.cid-rzHbmdsnLL .dropdown-item.active,
.cid-rzHbmdsnLL .dropdown-item:active {
  color: initial;
}
.cid-rzHbmdsnLL .widget-title,
.cid-rzHbmdsnLL .widget-icon {
  color: #e9e9e9;
}
.cid-rzHbmdsnLL .widget-text {
  color: #656565;
}
@media (max-width: 576px) {
  .cid-rzHbmdsnLL .menu-logo {
    display: none;
  }
  .cid-rzHbmdsnLL .navbar {
    padding: 0;
  }
  .cid-rzHbmdsnLL .menu-bottom {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rzHbmdsnLL button.navbar-toggler {
    -webkit-align-self: center;
    align-self: center;
  }
}
.cid-rzHbrk40eg {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzHbrk40eg .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #444444;
  padding: 0;
}
.cid-rzHbrk40eg .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbrk40eg .rev,
.cid-rzHbrk40eg .mbr-iconfont {
  display: inline-block;
}
.cid-rzHbrk40eg .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-rzHbrk40eg .card-img {
  position: relative;
}
.cid-rzHbrk40eg .card:hover .image-btn {
  opacity: 1;
  bottom: 10px;
}
.cid-rzHbrk40eg .image-btn {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.cid-rzHbrk40eg .card-title {
  color: #0087ab;
  margin: 0;
  text-align: center;
}
.cid-rzHbrk40eg .card-box {
  padding: 1.5rem;
}
.cid-rzHbrk40eg .mbr-section-title {
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.cid-rzHbrk40eg .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rzHbrk40eg .mbr-section-title,
.cid-rzHbrk40eg .line-wrap {
  text-align: center;
  color: #ffffff;
}
.cid-rzHbrk40eg .card-text,
.cid-rzHbrk40eg .mbr-section-btn,
.cid-rzHbrk40eg .ico-line {
  text-align: left;
  color: #9e9e9e;
}
.cid-rzHbrk40eg .mbr-text,
.cid-rzHbrk40eg .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-rzHbrk40eg .image-btn {
    opacity: 1;
    bottom: 10px;
  }
}
.cid-rzHbtpSaHT {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #ffffff;
}
.cid-rzHbtpSaHT img {
  width: 100%;
}
.cid-rzHbtpSaHT p {
  line-height: 1.6;
}
.cid-rzHbtpSaHT .content {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzHbtpSaHT .mbr-section-title {
  text-align: left;
  color: #000000;
}
.cid-rzHbtpSaHT .mbr-text,
.cid-rzHbtpSaHT .mbr-section-btn {
  color: #656565;
  text-align: left;
}
.cid-rzHbtpSaHT .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbtpSaHT .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.cid-rzHbtpSaHT .mbr-section-title .line-wrap {
  text-align: center;
}
.cid-rzHbtpSaHT .mbr-section-title,
.cid-rzHbtpSaHT .line-wrap {
  text-align: left;
}
@media (max-width: 992px) {
  .cid-rzHbtpSaHT .mbr-section-btn {
    margin-bottom: 3rem;
  }
}
.cid-rzHbvBX7mW {
  padding-top: 150px;
  padding-bottom: 150px;
}
.cid-rzHbvBX7mW .mbr-section-title {
  text-align: center;
}
.cid-rzHbvBX7mW .mbr-text,
.cid-rzHbvBX7mW .mbr-section-btn {
  text-align: center;
}
.cid-rzHbxInjTK {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzHbxInjTK .row-main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rzHbxInjTK .card {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-bottom: 0.5rem;
}
.cid-rzHbxInjTK .container-fluid {
  padding: 0;
  overflow: hidden;
}
.cid-rzHbxInjTK .img {
  margin: auto;
}
.cid-rzHbxInjTK .card-box {
  width: 100%;
}
.cid-rzHbxInjTK p {
  line-height: 1.5;
  margin: 0;
}
.cid-rzHbxInjTK .box {
  padding: 3rem 13rem;
  margin: auto;
}
.cid-rzHbxInjTK .card-img {
  padding: 0rem;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.cid-rzHbxInjTK .card-img span {
  color: #0a1c44;
  font-size: 3.6rem;
}
.cid-rzHbxInjTK img {
  width: 100%;
}
.cid-rzHbxInjTK .mbr-text {
  color: #656565;
}
@media (max-width: 1500px) {
  .cid-rzHbxInjTK .box {
    padding: 3rem 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rzHbxInjTK .box {
    padding: 2rem 6rem;
  }
}
@media (max-width: 576px) {
  .cid-rzHbxInjTK .box {
    padding: 2rem 3rem;
  }
}
.cid-rzHbxInjTK .card-title,
.cid-rzHbxInjTK .card-img {
  color: #0087ab;
  text-align: left;
}
.cid-rzHbxInjTK .mbr-section-title {
  text-align: center;
}
.cid-rzHbxInjTK .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rzHbxInjTK .mbr-section-title,
.cid-rzHbxInjTK .line-wrap {
  text-align: center;
  width: 100%;
  color: #000000;
}
.cid-rzHbxInjTK .mbr-text,
.cid-rzHbxInjTK .line-wrap2 {
  text-align: left;
  color: #000000;
}
.cid-rzHbzTwTsZ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzHbzTwTsZ .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rzHbzTwTsZ .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rzHbzTwTsZ .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rzHbzTwTsZ .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rzHbzTwTsZ .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-rzHbzTwTsZ .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-rzHbzTwTsZ .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-rzHbzTwTsZ .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-rzHbzTwTsZ .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #232323 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-rzHbC8iWVx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rzHbC8iWVx .card-wrapper {
  overflow: hidden;
  height: 100%;
  color: #444444;
  padding: 0;
}
.cid-rzHbC8iWVx .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbC8iWVx .line {
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-rzHbC8iWVx .card-title {
  color: #0087ab;
  margin: 0;
  text-align: left;
}
.cid-rzHbC8iWVx .card-img {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
}
.cid-rzHbC8iWVx .card-box {
  padding: 1rem;
}
.cid-rzHbC8iWVx .mbr-section-title,
.cid-rzHbC8iWVx .line-wrap {
  text-align: center;
}
.cid-rzHbC8iWVx .card-box > p,
.cid-rzHbC8iWVx .mbr-section-btn {
  text-align: left;
  color: #9e9e9e;
}
.cid-rzHbEgMxfX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rzHbEgMxfX .container-fluid {
  overflow: hidden;
}
.cid-rzHbEgMxfX .carousel-controls {
  display: none;
}
.cid-rzHbEgMxfX .carousel-controls a {
  transition: opacity 0.5s;
}
.cid-rzHbEgMxfX .carousel-controls a:hover span,
.cid-rzHbEgMxfX .carousel-controls a:focus span {
  opacity: 1;
}
.cid-rzHbEgMxfX .carousel-controls a:hover svg,
.cid-rzHbEgMxfX .carousel-controls a:focus svg {
  transition: all 0.25s;
  stroke-width: 3;
}
.cid-rzHbEgMxfX .carousel-controls a:active svg {
  transition: all 0.1s;
  stroke-width: 5;
}
.cid-rzHbEgMxfX .carousel-indicators li {
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: 3px;
  background: #ffffff;
  border: 0;
  border-radius: 50%;
  opacity: 0.5;
}
.cid-rzHbEgMxfX .carousel-indicators {
  bottom: 0px;
}
.cid-rzHbEgMxfX .carousel-indicators .active {
  border: 0px solid #1b1b1b;
  background: #0087ab;
}
.cid-rzHbEgMxfX ol {
  margin-bottom: 0rem;
}
.cid-rzHbEgMxfX .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 1rem;
}
.cid-rzHbEgMxfX .carousel-control-prev {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  opacity: 0.3;
}
.cid-rzHbEgMxfX .carousel-control-next {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  opacity: 0.3;
}
.cid-rzHbEgMxfX .carousel-item.active,
.cid-rzHbEgMxfX .carousel-item-next,
.cid-rzHbEgMxfX .carousel-item-prev {
  display: flex;
}
.cid-rzHbEgMxfX .user_image {
  overflow: hidden;
  display: flex;
  padding: 1.5rem;
}
.cid-rzHbEgMxfX .user_image .user_image_inner {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
}
.cid-rzHbEgMxfX .user_image .user_image_inner img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.cid-rzHbEgMxfX .user_text {
  color: #767676;
  position: relative;
}
.cid-rzHbEgMxfX .underline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-rzHbEgMxfX .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #0087ab, #0a1c44);
  display: inline-block;
}
.cid-rzHbEgMxfX .testimonials-quote svg {
  height: 50px;
  width: 50px;
  opacity: 0.2;
  margin-bottom: -50px;
  margin-left: -25px;
}
.cid-rzHbEgMxfX svg.svg-gradient {
  position: absolute;
  opacity: 0;
  z-index: -100;
}
.cid-rzHbEgMxfX .user_name {
  color: #ffffff;
  text-align: right;
}
.cid-rzHbEgMxfX .carousel-controls svg {
  height: 60px;
}
@media (max-width: 576px) {
  .cid-rzHbEgMxfX .carousel-controls {
    display: none;
  }
}
@media (max-width: 991px) {
  .cid-rzHbEgMxfX .testimonials-quote,
  .cid-rzHbEgMxfX .user_text,
  .cid-rzHbEgMxfX .user_name,
  .cid-rzHbEgMxfX .user_desk {
    text-align: center !important;
  }
  .cid-rzHbEgMxfX .carousel-controls a span {
    top: auto;
    bottom: 0;
  }
  .cid-rzHbEgMxfX .testimonials-quote svg {
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .cid-rzHbEgMxfX .mbr-section-title,
  .cid-rzHbEgMxfX .underline {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1200px) {
  .cid-rzHbEgMxfX .carousel-control-prev span {
    right: -1rem;
  }
  .cid-rzHbEgMxfX .carousel-control-next span {
    left: -1rem;
  }
  .cid-rzHbEgMxfX .user-text {
    padding-right: 2rem;
  }
  .cid-rzHbEgMxfX .carousel-control-prev,
  .cid-rzHbEgMxfX .carousel-control-next {
    -webkit-align-items: center;
    align-items: center;
  }
}
.cid-rzHbEgMxfX .user_desk {
  text-align: right;
  color: #ffffff;
  font-style: italic;
  font-weight: 300;
}
.cid-rzHbEgMxfX .user_text,
.cid-rzHbEgMxfX .testimonials-quote {
  color: #ffffff;
}
.cid-rzHbO3GyMV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzHbO3GyMV .mbr-section-subtitle {
  color: #767676;
}
.cid-rzHbO3GyMV .container-table {
  margin: 0 auto;
}
.cid-rzHbO3GyMV table.dataTable thead .sorting:before,
.cid-rzHbO3GyMV table.dataTable thead .sorting:after,
.cid-rzHbO3GyMV table.dataTable thead .sorting_asc:before,
.cid-rzHbO3GyMV table.dataTable thead .sorting_asc:after,
.cid-rzHbO3GyMV table.dataTable thead .sorting_desc:before,
.cid-rzHbO3GyMV table.dataTable thead .sorting_desc:after,
.cid-rzHbO3GyMV table.dataTable thead .sorting_asc_disabled:before,
.cid-rzHbO3GyMV table.dataTable thead .sorting_asc_disabled:after,
.cid-rzHbO3GyMV table.dataTable thead .sorting_desc_disabled:before,
.cid-rzHbO3GyMV table.dataTable thead .sorting_desc_disabled:after {
  bottom: 20px !important;
}
.cid-rzHbO3GyMV .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbO3GyMV .form-control {
  min-height: 2.5em;
  padding: 0.5em 0.5em;
}
.cid-rzHbO3GyMV .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-rzHbO3GyMV .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-rzHbO3GyMV .head-item {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background: #0a1c44;
  border-bottom: 1px solid #0a1c44;
}
.cid-rzHbO3GyMV .head-item:hover {
  background: #0a1c44;
  color: inherit;
}
.cid-rzHbO3GyMV .table-heads {
  color: #ffffff;
}
.cid-rzHbO3GyMV .dataTables_wrapper {
  display: block;
}
.cid-rzHbO3GyMV .dataTables_wrapper .search {
  margin-bottom: 0.5rem;
}
.cid-rzHbO3GyMV .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-rzHbO3GyMV table {
  width: 100% !important;
  margin-top: 6px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 0;
}
.cid-rzHbO3GyMV table td,
.cid-rzHbO3GyMV table th {
  white-space: nowrap;
}
.cid-rzHbO3GyMV table th {
  border-top: none;
  transition: all 0.2s;
  border-bottom: none;
}
.cid-rzHbO3GyMV table th:hover {
  background: #e9e9e9;
  color: #000000;
}
.cid-rzHbO3GyMV table td {
  border-top: 1px solid #e9e9e9;
}
.cid-rzHbO3GyMV table.table {
  background: #ffffff;
}
.cid-rzHbO3GyMV .dataTables_filter {
  text-align: right;
  margin-bottom: 0.5rem;
}
.cid-rzHbO3GyMV .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-rzHbO3GyMV .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: 0.5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-rzHbO3GyMV .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-rzHbO3GyMV .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-rzHbO3GyMV .dataTables_filter {
    text-align: center;
  }
  .cid-rzHbO3GyMV .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-rzHbO3GyMV .mbr-section-title,
.cid-rzHbO3GyMV .line-wrap {
  text-align: center;
}
.cid-rzHbO3GyMV .mbr-section-sub-title {
  text-align: center;
  color: #656565;
}
.cid-rzHbPUGQAz {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rzHbPUGQAz .progress {
  width: 100%;
}
.cid-rzHbPUGQAz progress {
  height: 20px;
}
.cid-rzHbPUGQAz .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbPUGQAz p {
  margin-bottom: 0.5rem;
}
.cid-rzHbPUGQAz .line {
  display: inline-block;
  width: 8%;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-rzHbPUGQAz .mbr-section-subtitle {
  color: #767676;
}
.cid-rzHbPUGQAz .progress_value {
  position: relative;
}
.cid-rzHbPUGQAz .progress_elements {
  margin: 0 auto;
}
.cid-rzHbPUGQAz .title-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rzHbPUGQAz .progress1 .progressbar-number:before,
.cid-rzHbPUGQAz .progress2 .progressbar-number:before,
.cid-rzHbPUGQAz .progress3 .progressbar-number:before,
.cid-rzHbPUGQAz .progress4 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-rzHbPUGQAz progress[value]::-webkit-progress-bar {
  background: #ebebeb;
}
.cid-rzHbPUGQAz progress::-webkit-progress-value {
  background-color: #0087ab;
  background-size: 40px 40px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.cid-rzHbPUGQAz progress[value]::-moz-progress-bar {
  background-color: #0087ab;
  background-size: 40px 40px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.cid-rzHbPUGQAz progress::-ms-fill {
  background-color: #0087ab;
  background-size: 40px 40px;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.cid-rzHbPUGQAz .progress1 .progressbar-number:before {
  content: "43";
}
.cid-rzHbPUGQAz .progress2 .progressbar-number:before {
  content: "73";
}
.cid-rzHbPUGQAz .progress3 .progressbar-number:before {
  content: "90";
}
.cid-rzHbPUGQAz .progress4 .progressbar-number:before {
  content: "100";
}
.cid-rzHbPUGQAz .progress-primary {
  background: #ebebeb;
  border: none;
  outline: none;
}
.cid-rzHbPUGQAz .progress-primary::-webkit-progress-bar {
  background: #ebebeb;
}
.cid-rzHbPUGQAz .progress_value span {
  padding-left: 30px;
}
.cid-rzHbPUGQAz .mbr-section-title,
.cid-rzHbPUGQAz .line-wrap {
  text-align: center;
}
.cid-rzHbPUGQAz .mbr-section-sub-title {
  text-align: center;
  color: #656565;
}
.cid-rzHbPUGQAz .progressbar-title p,
.cid-rzHbPUGQAz .progress_value {
  color: #656565;
}
.cid-rzHbTSLWxc {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rzHbTSLWxc .form-group {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-rzHbTSLWxc .card {
  background-color: #0a1c44;
  padding: 4rem 10rem;
}
.cid-rzHbTSLWxc .input-group-btn {
  display: block;
}
.cid-rzHbTSLWxc .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzHbTSLWxc .line {
  display: inline-block;
  width: 8%;
  height: 4px;
  background-color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-rzHbTSLWxc .form-control {
  background: white;
  max-height: 3rem;
  padding: 1rem;
  border-radius: 4px !important;
  font-size: 16px;
}
.cid-rzHbTSLWxc .btn-primary {
  border: 1px solid #0087ab !important;
}
.cid-rzHbTSLWxc .input-group-btn .btn {
  border-radius: 4px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.cid-rzHbTSLWxc .form-control-label {
  color: #ffffff;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .cid-rzHbTSLWxc .card {
    padding: 4rem;
  }
}
@media (max-width: 576px) {
  .cid-rzHbTSLWxc .card {
    padding: 2rem;
  }
}
.cid-rzHbTSLWxc .mbr-section-title,
.cid-rzHbTSLWxc .line-wrap {
  color: #ffffff;
}
.cid-rzHdPwRU42 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rzHdPwRU42 .listico {
  padding-right: 1rem;
  font-size: 1.2rem;
}
.cid-rzHdPwRU42 .navbar-logo {
  width: 150px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-rzHdPwRU42 .btn {
  margin: 0 !important;
  height: 55px;
}
.cid-rzHdPwRU42 .btn-primary {
  border: 1px solid #0087ab !important;
}
.cid-rzHdPwRU42 .btn-primary:hover {
  border: 1px solid #0087ab !important;
}
.cid-rzHdPwRU42 .stripe {
  border-bottom: 1px solid #0087ab;
  max-width: 90%;
  position: relative;
  margin-bottom: 0.5rem;
}
.cid-rzHdPwRU42 .form-group {
  padding-right: 0;
  max-width: 220px;
}
.cid-rzHdPwRU42 .input-group-btn {
  padding-left: 0;
}
.cid-rzHdPwRU42 .form-control {
  background: transparent;
  padding: 0.5rem 1rem;
  min-height: 55px;
  border-radius: 0px;
}
.cid-rzHdPwRU42 .stripe:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 1px solid #e9e9e9;
  width: 85%;
}
.cid-rzHdPwRU42 .mbr-text {
  color: #444;
}
.cid-rzHdPwRU42 h5 {
  margin-bottom: 0;
}
.cid-rzHdPwRU42 .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-rzHdPwRU42 .list-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzHdPwRU42 .tips {
  height: 90px;
  width: 90px;
  border-radius: 6px;
  margin: 4px;
}
.cid-rzHdPwRU42 .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzHdPwRU42 .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-rzHdPwRU42 .social-list .soc-item {
  margin: 0 0.3rem;
}
.cid-rzHdPwRU42 .social-list a {
  margin: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-rzHdPwRU42 .social-list a:hover {
  opacity: 0.4;
}
.cid-rzHdPwRU42 .media-container-row > div {
  padding: 0px;
}
.cid-rzHdPwRU42 .text2 {
  color: #000000;
  text-align: left;
}
.cid-rzHdPwRU42 .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-rzHdPwRU42 .links {
  color: #656565;
  line-height: 1.6;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rzHdPwRU42 .col-sm-12 {
    margin-bottom: 2rem;
  }
  .cid-rzHdPwRU42 .social-list,
  .cid-rzHdPwRU42 .img-list {
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-rzHdPwRU42 h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .cid-rzHdPwRU42 .form-group {
    max-width: 180px;
  }
}
.cid-rzHdPwRU42 .links span {
  color: #9e9e9e;
}
.cid-rzHdPwRU42 .logo-sub-title {
  text-align: center;
}
.cid-rzHdPwRU42 .logo-title {
  text-align: center;
}
.cid-rzHdPwRU42 .logo-sub-title i {
  color: #9e9e9e;
}
.cid-rzHdQl6gxK {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzHdQl6gxK .mbr-row {
  margin-left: 0;
  margin-right: 0;
}
.cid-rzHdQl6gxK .mbr-section-title {
  padding-bottom: 3rem;
}
.cid-rzHdQl6gxK .google-map {
  height: 25rem;
  position: relative;
  width: 100%;
}
.cid-rzHdQl6gxK .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rzHdQl6gxK .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rzHdQl6gxK .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rzHdQl6gxK .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rzHdQl6gxK .map-placeholder {
  display: none;
}
.cid-rzHdQl6gxK h4 {
  padding-top: 5rem;
  color: #767676;
  text-align: center;
}
.cid-rzHdRjg5Oj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0087ab;
}
.cid-rzHdRjg5Oj .links {
  text-align: center;
  color: #ffffff;
}
.cid-rzHdRjg5Oj p {
  margin: 0;
}
